body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100vh;
   padding: 100px 200px 0px 100px;
  }
  
  .form-container {

    padding: 20px;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group input[type="file"],
  .form-group input[type="checkbox"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group select {
    appearance: none;
  }
  
  .form-group input[type="file"] {
    cursor: pointer;
  }
  
  .form-group input[type="checkbox"] {
    cursor: pointer;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-image {
    width: 300px;
    height: 600px;
    
}
